<!DOCTYPE html>
<html>
	<head>
		<title>System Monitor - Created by Bradley J. Gibby :)</title>
		<link rel="stylesheet" type="text/css" href="styles/jquery-ui.min.css">
		<link rel="stylesheet" type="text/css" href="styles/jquery-ui.structure.min.css">
		<link rel="stylesheet" type="text/css" href="styles/jquery-ui.theme.min.css">
		<link rel="stylesheet" type="text/css" href="styles/main.css">
		
		<script src="scripts/jquery-2.1.1.min.js"></script>
		<script src="scripts/jquery-ui.min.js"></script>
	</head>
	<body>
		<h1 style="margin-top: 0px;">System Monitor</h1>
		<h4>Created by Bradley J. Gibby :)</h4>
		
	</body>
</html>